{
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier" // This should be the last item to turn off conflicting ESLint rules.
    ],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error"
    }
  }
  